git log--abbrevcommit
log/
simple_BACKUP_1164.html
simple_BACKUP_2345.html
simple_BACKUP_2447.html
simple_BACKUP_2524.html
simple_BASE_1164.html
simple_BASE_2345.html
simple_BASE_2447.html
simple_BASE_2524.html
simple_LOCAL_1164.html
simple_LOCAL_2345.html
simple_LOCAL_2447.html
simple_LOCAL_2524.html
simple_REMOTE_1164.html
simple_REMOTE_2345.html
simple_REMOTE_2447.html
simple_REMOTE_2524.html